@media only screen and (max-width: 1439px){}
@media only screen and (max-width: 1199px){}
@media only screen and (max-width: 991px){
  section.top-banner_about{
    padding: 46px 0 64px;
    .top-banner_about--flex-container{
      flex-direction: column;
      .stop-climate-change{
        font-size: 44px;
      }
      .t-b-a{
        width: 100%;
      }
      .the-issue_text{
        margin-top: 84px;
        transform: translateY(0px);
        h3{
          font-size: 28px;
        }
      }
    }
  }
  section#mission_values{
    padding: 64px 0 49px;
    .mission{
      .section-badge{
        margin-bottom: 24px;
      }
      h2{
        font-size: 28px;
      }
    }
    .values_grid-container{
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 17px;
      margin-top: 60px;
      .value{
        img{
          margin-left: 0px;
          margin-bottom: 10px;
        }
        h3{
          font-size: 22px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  section#our-team{
    padding: 60px 40px 0;
    .our-team_header{
      .our-team_text{
        h2{
          font-size: 36px;
        }
        p{
          margin-right: 0px;
          font-size: 16px;
        }
      }
    }
    .team_grid-container{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 64px;
      grid-row-gap: 8px;
      margin-top: 64px;
      .card-body{
        padding: 14px 0 14px 16px;
        p{font-size: 14px;}
      }
    }
  }
  section#our-impact{
    color: #fff;
    .our-impact_bg{
      padding: 64px 0;
      .our-impact_header{
        h2{
          font-size: 36px;
        }
      }
      .section-badge{
        margin-bottom: 23px;
      }
  
      .counter_grid-container{
        margin-top: 66px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 57px;
        grid-column-gap: 64px;
        &>div{
          h4{
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){}
@media only screen and (max-width: 600px){
  section.top-banner_about{
    padding: 32px 0px;
    .top-banner_about--flex-container{
      .the-issue_text{
        padding: 32px;
        margin-top: 140px;
        text-align: center;
        h3{
          font-size: 22px;
        }
        .section-badge{
          position: absolute;
          display: inline-block;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  section#mission_values{
    padding: 32px 0 30px;
    .mission{
      text-align: center;
      .section-badge{
        margin-bottom: 26px;
      }
      h2{
        font-size: 22px;
      }
    }
    .values_grid-container{
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 28px;
      margin-top: 65px;
      .value{
        h3{
          font-size: 16px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  section#our-team{
    padding: 38px 0 32px 0;
    text-align: center;
    .our-team_header{
      .section-badge{
        margin-bottom: 20px;
      }
      .our-team_text{
        // display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        h2{
          margin: 0;
          font-size: 22px;
          margin-bottom: 29px;
        }
        p{
          // margin: 0;
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .team_grid-container{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      margin-right: 0px;
      margin-top: 32px;
      .card-body{
        padding: 14px 10px 14px 16px;
        transform: none;
      }
    }
  }
  section#our-impact{
    color: #fff;
    .our-impact_bg{
      padding: 32px 0 50px;
      .our-impact_header{
        h2{
          font-size: 22px;
        }
      }
      .section-badge{
        background-color: #fff;
        display: inline-block;
        margin-bottom: 26px;
        p{
          color: #354463;
        }
      }
  
      .counter_grid-container{
        margin-top: 29px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        &>div{
          .counter{ font-size: 44px;}
          h4{
            font-size: 16px;
          }
        }
      }
    }
  }
}