section.top-banner_about{
  padding: 66px 0 86px;
  background-image: url(../img/annie-spratt-427339-unsplash@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: 76%;
  background-color: #354463;
  .top-banner_about--flex-container{
    display: flex;
    justify-content: space-between;
    .stop-climate-change{
      font-size: 72px;
      font-weight: 400;
      margin: 0;
      color: #fff;
    }
    .t-b-a{
      width: 50%;
    }
    .the-issue_text{
      position: relative;
      padding: 64px;
      transform: translateY(150px);
      background-color: #fff;
      h3{
        font-size: 28px;
        font-weight: 700;
      }
      .section-badge{
        position: absolute;
        display: inline-block;
        top: 0;
        transform: translateY(-50%);
      }
    }
  }
}

section#mission_values{
  padding: 128px 0 105px;
  background-color: #354463;
  color: #fff;
  .mission{
    .section-badge{
      display: inline-block;
      background-color: #fff;
      margin-bottom: 32px;
      p{
        color: #354463;
      }
    }
    h2{
      font-size: 44px;
      font-weight: 700;
      margin: 0;
    }
  }
  .values_grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 60px;
    margin-top: 130px;
    .value{
      img{
        margin-left: 5px;
        margin-bottom: 10px;
      }
      h3{
        font-size: 28px;
        font-weight: 700;
      }
      p{
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
section#our-team{
  padding: 128px 0 80px 0;
  .our-team_header{
    .section-badge{
      display: inline-block;
      margin-bottom: 32px;
    }
    .our-team_text{
      display: flex;
      justify-content: space-between;
      h2{
        margin: 0;
        font-size: 44px;
        font-weight: 700;
      }
      p{
        // margin: 0;
        width: 40%;
        margin-left: 30px;
        margin-right: 110px;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  .team_grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 48px;
    margin-right: 32px;
    margin-top: 90px;
    .card{
      border: none;
      border-radius: 0;
      .card-img-top{
        border-radius: 0;
      }
    }
    .card-body{
      background-color: #354463;
      color: #fff;
      padding: 14px 0 14px 32px;
      transform: translate(32px, -24px);
      p{font-size: 16px; font-weight: 300;}
    }
  }
}

section#our-impact{
  background-image: url(../img/impact.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  .our-impact_bg{
    padding: 128px 0;
    background-color: rgba($color: #354463, $alpha: 0.8);
    height: 100%;
    .our-impact_header{
      text-align: center;
      h2{
        font-size: 44px;
        font-weight: 700;
      }
    }
    .section-badge{
      background-color: #fff;
      display: inline-block;
      margin-bottom: 42px;
      p{
        color: #354463;
      }
    }

    .counter_grid-container{
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 32px;
      &>div{
        text-align: center;
        .counter{ font-size: 72px;}
        h4{
          font-size: 28px;
          font-weight: 700;
        }
      }
    }
  }
}
section#tbt{
  background-color: #354463;
  padding: 128px 0;
  .tbt_text{
    // display: flex;
    // justify-content: space-between;
    h2{
      font-size: 72px;
      text-transform: uppercase;
      font-weight: 400;
      color: white;
      float: left;
    }
    .arrow-desktop{
      // width: 62px;
      // height: 62px;
      border-radius: 62px;
      background-color: #C1F7D5;
      float: right;
      img{
        margin: 20px 15px 20px 15px;
      }
    }

  }
  #tbt-carousel{
    margin-top: 157px;
    margin-left: 10%;
    // overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    .slick-prev{
      display: none !important;
    }
    .slick-track{
      display: flex;
      padding-top: 20px;
      .slick-slide{
        margin-right: 32px;
      }
    }
    .card{
      display: inline-block;
      position: relative;
      .arrow-mobile{
        display: none;
      }
      .card-body{
        padding: 64px 48px 64px 64px;
        .card-title{
          font-size: 28px;
          font-weight: 700;
        }
        .card-text{
          font-size: 20px;
          font-weight: 300;
        }
      }
      .section-badge{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 64px;
        background-color: #fff;
        transform: translateY(-50%);
        p{
          color: #354463;
        }
      }
    }
  }
}
