section#thank-you{
  background-image: url(../img/don3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: 76%;
  background-color: #354463;
  padding: 112px 0;
  .don3_flex-container{
    display: flex;
    .thank-you_text{
      width: 50%;
      h2{
        margin-top: 20px;
        width: 70%;
        color: #fff;
        font-size: 44px;
        font-weight: 700;
      }
    }
    .thank-you_share{
      position: relative;
      background-color: #fff;
      width: 50%;
      padding: 64px;
      display: flex;
      justify-content: space-between;
      .section-badge{
        display: inline-block;
        transform: translateY(-50%);
        position: absolute;
        top: 0;
      }

      h2{
        width: 60%;
        display: inline-block;
        font-size: 28px;
        font-weight: 700;
      }
      ul{
        display: flex;
        // width: 30%;
        padding: 0;
        flex-direction: column;
        li{
          width: 100%;
          margin-bottom: 16px;
          border-radius: 100px;

          a{
            padding: 12px 16px;
            border-radius: 100px;
            width: 100%;
            display: inline-block;
            background-color: #C1F7D5;
            font-size: 11px;
            text-transform: uppercase;
            img{
              vertical-align: middle;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}
section#thanks-for-giving{
  background-color: #354463;
  padding: 95px 0 116px;
  .flex-container_thanks{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    p{
      font-size: 20px;
      font-weight: 300;
      width: 45%;
      a{
        font-size: 20px;
        font-weight: 300;
        text-decoration: underline;
        color: #C1F7D5;
      }
    }
    h2{
      font-size: 44px;
      font-weight: 700;
      width: 45%;
    }
  }
}