section#latest-post{
  background-color: #354463;
  color: #fff;
  padding: 48px 0 64px;
  #latest-post_header{
    display: flex;
    justify-content: space-between;
    h2{
      font-size: 44px;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }
    .blog_social-media{
      display: flex;
      align-items: center;
      h2{
        font-size: 14px;
        margin-right: 5px;
      }
      // justify-content: space-between;
      ul{
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
        li{
          margin-left: 14px;
          a{
            img{
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
  #latest-post_contents{
    margin-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    #latest-post_text{
      background-color: #C1F7D5;
      color: #354463;
      padding: 56px 64px 60px 64px;
      h2{
        font-size: 36px;
        font-weight: 700;
        margin: 0;
      }
      p{
        font-size: 20px;
        font-weight: 300;
        margin: 33px 0 37px;
      }
      a{
        text-decoration: underline;
      }
    }
    #latest-post_img{
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
section#all-entries{
  padding: 67.7px 0 122px;
  .all-entries_header{
    // display: flex;
    // justify-content: space-between;
    h2{
      float: left;
      text-transform: uppercase;
      font-size: 44px;
      font-weight: 400;
    }
    #all-entries_filter{
      background-color: #354463;
      padding: 8px;
      border-radius: 100px;
      float: right;
      button{
        color: #C1F7D5;
        text-decoration: underline;
        padding: 2px 38px;
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
        background: none;
        border: none;
        border-radius: 100px;
      }
    }
  }
    .all-entries_contents{
      margin-top: 62px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
      .card{
        border-radius: 0;
        background-color: #354463;
        color: #fff;
        .card-body{
          position: relative;
        }
        h2{
          font-size: 22px;
          font-weight: 700;
        
        }
        img{
          border-radius: 0;
        }
        a{
          color: #fff;
          text-decoration: underline;
          font-weight: 300;
          margin: 30px 0;
        }
        .section-badge{
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          display: inline-block;
          background-color: #fff;
          p{
            color: #354463;
          }
        }
      }
      .card-1{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        .card-text{
          font-size: 36px;
        }
        .section-badge{
          top: auto;
          bottom: 0;
          transform: translateY(50%);
        }
      }
      .card-2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        .card-text{
          font-size: 36px;
        }
        .section-badge{
          top: auto;
          bottom: 0;
          transform: translateY(50%);
        }
      }
      .card-3{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
          .card-text{
            font-size: 36px;
            margin-bottom: 9px;
          }
          .section-badge{
            top: auto;
            bottom: 0;
            transform: translateY(50%);
          }
      }
    }
}
