@media only screen and (max-width: 1439px){}
@media only screen and (max-width: 1199px){}
@media only screen and (max-width: 991px){
  section#latest-post{
    padding: 66px 0 64px;
    #latest-post_header{
      .blog_social-media{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2{
          font-size: 14px;
          margin-right: 0px;
        }
        // justify-content: space-between;
        ul{
          margin-top: 12px;

          li{
            &:first-of-type{
              margin-left: 0;
            }
          }
        }
      }
    }
    #latest-post_contents{
      margin-top: 64px;
      #latest-post_text{
        padding: 28px 32px 33px 32px;
        h2{
          font-size: 28px;
        }
        p{
          font-size: 14px;
          margin: 40px 0 30px;
        }
      }
    }
  }
  section#all-entries{
    padding: 46px 0 64px;
      .all-entries_contents{
        margin-top: 57px;
        grid-template-columns: repeat(3, 1fr);
        .card{
          h2{
            font-size: 16px;
          }
          a{
            font-size: 14px;
            // margin: 30px 0;
          }
          .section-badge{
            padding-left: 16px;
            padding-right: 60px;
          }
        }
        .card-1{
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          .card-text{
            font-size: 22px;
          }
        }
        .card-2{
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          .card-text{
            font-size: 22px;
          }
        }
        .card-3{
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5;
            .card-text{
              font-size: 22px;
              // margin-bottom: 9px;
            }
        }
      }
  }
}
@media only screen and (max-width: 767px){
  section#latest-post{
    background-color: #354463;
    color: #fff;
    padding: 37px 0 32px;
    #latest-post_header{
      flex-direction: column-reverse;
      align-items: flex-start;
      h2{
        font-size: 32px;
        margin-top: 18px;
      }
      .blog_social-media{
        align-items: flex-start;
        h2{
          font-size: 14px;
          margin-right: 0px;
          margin-bottom: 12px;
        }
        ul{
          margin: 0;
          display: flex;
          align-items: center;
          padding: 0;
          li{
            margin-left: 14px;
            a{
              img{
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    #latest-post_contents{
      margin-top: 27px;
      grid-template-columns: 1fr;
      grid-row-gap: 32px;
      #latest-post_text{
        background-color: #C1F7D5;
        color: #354463;
        padding: 32px 64px 33px 32px;
        h2{
          font-size: 28px;
        }
        p{
          font-size: 14px;
          margin: 40px 0 20px;
        }
        a{
          font-size: 14px;
          text-decoration: underline;
          font-weight: 300;
        }
      }
      #latest-post_img{
        height: 312px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  section#all-entries{
    padding: 67.7px 0 122px;
    .all-entries_header{
      // display: flex;
      // justify-content: space-between;
      h2{
        float: none;
        margin-bottom: 27px;
      }
      #all-entries_filter{
        float: none;
        display: inline-block;
        margin-bottom: 32px;
      }
    }
  }
}
@media only screen and (max-width: 600px){

  section#all-entries{
    padding: 50px 0 64px;
    .all-entries_header{
      h2{
        font-size: 32px;
      }
    }
      .all-entries_contents{
        margin-top: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 16px;
        .card{
          h2{
            font-size: 16px;          
          }
          a{
            font-size: 14px;
            margin: 30px 0;
          }
        }
        .card-1{
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
        }
        .card-2{
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
        }
        .card-3{
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 6;
        }
      }
  }
  
}