<footer class="footer">
    <div class="subscribe">
    <div class=" container">
        <h3>Subscribe to our monthly newsletter and stay up to date with all news and events.</h3>
        <input placeholder="Enter your email address" type="text">
        <div class="green-btn">
        <a  href="">Read more</a>
      </div>

    </div>
</div>
<div class="contact container">
    <h3>The Green Trees Initiative</h3>
    <div class="links">
        <div>
            <h4>CONTACT US</h4>
            <a href="">123 Anywhere St. Cityname, NY 11206  </a>
            <a href="">(123) 456-7890</a>
            <a href="">contact@npo.org</a>
        </div>
        <div>
            <h4>LINKS</h4>
            <a href="">The issue </a>
            <a href="">How we help</a>
            <a href="">Get involved</a>
            <a href="">Latest news</a>
            
        </div>
        <div>
            <h4>FOLLOW US</h4>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
            <a href="">Medium</a>
        </div>
        <h1>#stop climate change</h1>
    </div>


</div>
</footer>
<script src="js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
$('.slider').slick({
    slidesToShow: 1,
  slidesToScroll: 1,
    dots: true,
    arrows:false,
    speed: 500,
    fade:true,
  
  });
  $('.slider1').slick({
    slidesToShow: 3,
  slidesToScroll: 1,
  prevArrow: $('.prev'),
nextArrow: $('.next'),
autoplay:true,
    speed: 500,
    dots:true,
   
    responsive: [
    {
            breakpoint: 1024,
            settings: {
              slidesToShow:2 ,
              slidesToScroll: 1,
              prevArrow: $('.prev'),
        nextArrow: $('.next'),
        autoplay:true,
    speed: 500,
   
            }
            },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              prevArrow: $('.prev'),
        nextArrow: $('.next'),
        autoplay:true,
    speed: 500,
    
            }
          }
        ]

  });

  $(".all-entries .events").on("click", function() {
    if($(".news-cont").css("display") == "flex") {
      $(".events-cont").css("display", "flex");
        $(".grid-1").css("display","grid");
        $(".grid-2").css("display","grid");
        $(".grid-3").css("display","grid");
        $(".content").css("margin-bottom", "0");
        $(".all-entries .gallery").css("grid-template-rows","repeat(3,1fr)");
        $(".all-entries .gallery").css("grid-template-columns","repeat(1,1fr)");
        $(".news-cont").css("display", "none");
        $(".gallery >div").css("width","65%");
        $(".gallery >div").css("margin","auto");
        $(".grid-1").css("display","block");
        $(".grid-2").css("display","block");
        $(".grid-3").css("display","block");
        if ($('body').width() < 768) {
          $(".gallery >div").css("width","100%");
         
      }
      }
      else{
        $(".news-cont").css("display", "flex");
        $(".gallery >div").css("width","100%");
        $(".grid-1").css("display","grid");
        $(".grid-2").css("display","grid");
        $(".grid-3").css("display","grid");
      }
    });
    

    $(".all-entries .news").on("click", function() {
    if($(".events-cont").css("display") == "flex") {
      $(".news-cont").css("display", "flex");
        $(".gallery >div").css("width","100%");
        $(".grid-1").css("display","grid");
        $(".grid-2").css("display","grid");
        $(".grid-3").css("display","grid");
        $(".events-cont").css("display", "none");
        $(".content").css("margin-bottom", "50px");
        $(".all-entries .gallery").css("grid-template-rows","repeat(1,1fr)");
        $(".all-entries .gallery").css("grid-template-columns","repeat(3,1fr)");
        $(".grid-1").css("display","block");
        $(".grid-2").css("display","block");
        $(".grid-3").css("display","block");
        if ($('body').width() < 768) {   
        $(".all-entries .gallery").css("grid-template-columns","repeat(2,1fr)");   
        if ($('body').width() < 567) {   
        $(".all-entries .gallery").css("grid-template-columns","repeat(1,1fr)");   
        
        }
        else{
          $(".all-entries .gallery").css("grid-template-columns","repeat(2,1fr)"); 

        }

        }
        else{
          $(".all-entries .gallery").css("grid-template-columns","repeat(3,1fr)"); 

        }
      

      }
      else{
        $(".events-cont").css("display", "flex");
        $(".grid-1").css("display","grid");
        $(".grid-2").css("display","grid");
        $(".grid-3").css("display","grid");
        $(".content").css("margin-bottom", "0");
        $(".all-entries .gallery").css("grid-template-rows","repeat(3,1fr)");
        $(".all-entries .gallery").css("grid-template-columns","repeat(1,1fr)");
      }
    });
    $(".all-entries .all").on("click", function(){
      $(".events-cont").css("display", "flex");
        $(".grid-1").css("display","grid");
        $(".grid-2").css("display","grid");
        $(".grid-3").css("display","grid");
        $(".content").css("margin-bottom", "0");
        $(".all-entries .gallery").css("grid-template-rows","repeat(3,1fr)");
        $(".all-entries .gallery").css("grid-template-columns","repeat(1,1fr)");
        $(".news-cont").css("display", "flex");
        $(".gallery >div").css("width","100%");
});
$('.all-entries .links h5').on('click', function(){
  if($(this).hasClass('selected')){
    $('.all-entries h5').removeClass('selected');
  }
  else{
    $('.all-entries h5').removeClass('selected');
    $(this).addClass('selected');

  }
});
});
</script>
</body>
</html>
