<footer>
    <div class="container grid-container_footer">
        <div>
            <h1 id="logo">The green <br>trees initiative</h1>
        </div>
        <div class="contact-us location">
            <h4>Contact us</h4>
            <ul>
                <li><p>123 Anywhere St.</p></li>
                <li><p>Cityname, NY 11206</p></li>
                <li><p>(123) 456-7890</p></li>
                <li><p>contact@npo.org</p></li>
            </ul>
        </div>
        <div class="contact-us how">
            <h4>Contact us</h4>
            <ul>
                <li><a href="#">The issue</a></li>
                <li><a href="#">How we help</a></li>
                <li><a href="#">Get involved</a></li>
                <li><a href="#">Latest news</a></li>
            </ul>
        </div>
        <div class="contact-us social-media">
            <h4>Contact us</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Medium</a></li>
            </ul>
        </div>
        <div id="stop-climate-change"><h2>#stop</h2><h2>climate</h2><h2>change</h2></div>
    </div>
</footer>
<script src="js/all.js"></script>
</body>
</html>
